@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Poppins&display=swap");
* {
  font-family: Inter;
  margin: 0;
  padding: 0;
}

.addblog_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}