@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Mynerve&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  background-color: #fff;
}

.home__section {
  padding: 52px 52px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home__section .card__container {
  width: 800px;
}
.home__section .feature__content {
  width: 300px;
}

.addblog_page {
  font-family: Inter;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addblog_page h1 {
  padding: 28px 0px;
}
.addblog_page .content_wraper {
  padding: 52px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.addblog_page .content_wraper .form_wraper {
  width: 480px;
}
.addblog_page .content_wraper form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.addblog_page .content_wraper form input {
  background: #ebe9eb;
  outline: none;
  border-radius: 4px;
  border: none;
  border: 1px solid #767676;
  height: 60px;
}
.addblog_page .content_wraper form button {
  cursor: pointer;
  border-radius: 4px;
  margin-top: 12px;
  width: 120px;
  padding: 8px 16px;
  border: none;
  background: #767676;
}
.addblog_page .content_wraper form button:hover {
  background-color: #515151;
}

.updare_page {
  font-family: Inter;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.updare_page h1 {
  padding: 20px 0px;
}
.updare_page .form_wraper {
  height: 100%;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.updare_page .form_wraper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.updare_page .form_wraper form input {
  margin-top: 20px;
  background: #ebe9eb;
  outline: none;
  border-radius: 4px;
  border: none;
  border: 1px solid #767676;
  height: 60px;
}
.updare_page .form_wraper form button {
  cursor: pointer;
  border-radius: 4px;
  margin-top: 12px;
  width: 120px;
  padding: 8px 16px;
  border: none;
  background: #D8A7B1;
}

.mst__header {
  font-family: Inter;
  padding: 28px 52px;
}
.mst__header .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 28px 0px;
  border-bottom: 1px solid #ebe9eb;
}
.mst__header .header .icons .header_icon {
  height: 20px;
  width: 20px;
  padding: 0px 12px;
  cursor: pointer;
}
.mst__header .header .logo h1 {
  font-size: 42px;
  font-family: Mynerve;
}
.mst__header .header .logo h1:hover {
  color: #767676;
}
.mst__header .nav_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 28px 0px;
  border-bottom: 1px solid #ebe9eb;
}
.mst__header .nav_items a {
  color: #000000;
  text-decoration: none;
  padding: 0px 16px;
}
.mst__header .nav_items a:hover {
  color: #767676;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem {
  cursor: pointer;
  margin-right: 24px;
  font-weight: 600;
}

.avatar {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 50%;
}

.link {
  color: #000000;
  text-decoration: none;
}

.card {
  font-family: Poppins;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 300px;
  border-bottom: 1px solid #ebe9eb;
  padding: 0px 20px;
}
.card .card__img {
  width: 280px;
  height: 240px;
}
.card .card__img .img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.card .card__text {
  padding: 20px 20px;
  width: 400px;
}
.card .card__text .pub__date {
  padding: 12px 0px;
  color: #767676;
}

.card:hover {
  background: #ebe9eb;
}

.desc {
  color: #767676;
  line-height: 24px;
  height: 70px;
  width: 100%;
  padding: 12px 0px;
}

.card__btn {
  color: #ffffff;
  font-family: Lato;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #000000;
}

.blog_list {
  height: 358px;
  overflow: auto;
}

.blog {
  border-radius: 4px;
  padding: 0px 20px;
  margin: 12px 0px 8px 0px;
  width: 280px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ebe9eb;
}

.act_btn .delete_btn {
  background: #EF7C8E;
}
.act_btn button {
  margin-left: 4px;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 12px;
  border: none;
  background: #D8A7B1;
}
.act_btn button .link {
  text-decoration: none;
}

.footer {
  height: 200px;
  background: #767676;
  color: #ebe9eb;
}
.footer .footer__wraper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer__wraper .logo {
  padding: 12px 0px;
}
.footer .footer__wraper .logo h1 {
  font-size: 42px;
  font-family: Mynerve;
}
.footer .footer__wraper p {
  text-align: center;
}

.post__page {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  font-family: Inter;
}
.post__page .post__page img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.post__page img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.post__page h1 {
  padding: 20px 0px;
  font-size: 40px;
}

.post__page p {
  padding: 20px;
}

.current_date {
  text-align: right;
}

.loading__component {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.loading__component h1 {
  font-family: Mynerve;
  color: #515151;
}
.loading__component p {
  font-family: Poppins;
}