// blog list component
.blog_list{
  height: 358px;
  overflow: auto;
}
.blog{
  border-radius: $--base-radius-md;
  padding: 0px 20px;
  margin: 12px 0px 8px 0px;
  width: 280px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $--secondary--color;
}

.act_btn{
  .delete_btn{
    background: $--base-nav-background;
  }
  button{
    margin-left: 4px;
    cursor: pointer;
    border-radius: $--base-radius-md;
    padding: $--btn-padding-sm;
    border: none;
    background: $--base-button-background;
    .link{
      text-decoration: none;
    }
  }
}