.card{
  font-family: $--base-heading-Font;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 300px;
  border-bottom: 1px solid $--secondary--color;
  padding: 0px 20px;
  .card__img{
    width: 280px;
    height: 240px;
    .img{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  .card__text{
    padding: 20px 20px;
    width: 400px;
    .pub__date{
      padding: 12px 0px;
      color: $--subtext;
    }
  }
}

.card:hover{
  background: $--secondary--color;
}

.desc{
  color: $--subtext;
  line-height: 24px;
  height: $--card-subtext-height;
  width: $--card-p-width;
  padding: 12px 0px;
}

.card__btn{
  color: $--btn-textcolor;
  font-family: $--base-btn-Font;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: $--base-radius-md;
  background-color: $--btn-color;
  background-image: linear-gradient(
   -60deg,
   transparent,transparent 40%,
   #fff 40%,#ffffff44 60%,
    transparent 60%, transparent 100%
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 150%;
}

.card__btn:hover{
  background-position-x: -150%;
  transition: background-position-x 1000ms;
}

@media only screen and (max-width: 764px){

  .card {
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding: 0;

    .card__text{
      width: 100%;
      padding: 0;
    }
  }
  
  }