.mst__header{
  position: static;
  width: 100%;
  font-family: Inter;
  height: 166px;
  background-color: $--secondary--color;
  z-index: 2;
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 28px 28px;
    border-bottom: 1px solid $--discription-color;
    .icons{
      display: block;
      .header_icon{
        height: 20px;
        width: 20px;
        padding: 0px 12px;
        cursor: pointer;
        
      }
    }

    .logo{
      h1{
        font-size: 42px;
        font-family: $--base-logo-font;
      }
      h1:hover{
        color: $--subtext;
      }
    }
   
  }



  
  .nav_items{
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0px 28px;
    border-bottom: 1px solid $--discription-color;

    .nav__item--wraper{
      display: flex;
      flex-direction: row;
     
      align-items: center;
    }

    a{
      color: $--main-text-color;
      text-decoration: none;
      padding: 0px 16px;
    }
    a:hover{
      color: $--subtext;
    }

    nav{
      position: fixed !important;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .ham__menu{
      display: none;
      border: none;



    }

  }
}






.list{
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem {
  cursor: pointer;
  margin-right: 24px;
  font-weight:  $--base-weight-md;
}


.avatar{
  width: $--avatar-width;
  height: $--avatar-hight;
  object-fit: cover;
  border-radius: 50%;
}

.link{
  color: $--title-color;
  text-decoration: none;
}

.search__box{
  position: relative;
  height: 20px;
}


@media only screen and (max-width: 1024px) {
  .icons{
    display: none !important;
  }
  .mst__header{
    position: fixed;
  }
  .ham__menu{
    display: block !important;
    cursor: pointer;
    margin-right: 70%;
  }
  nav{
    position: fixed !important;
    top: 64px;
    left: 0;
    right: 0;
    height: 0;
    color: #333652;;
    background-color: #7b8288;
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: 0.5s all;

    a{
      padding: 32px 0px !important;
      cursor: pointer;
      font-size: 30px;
    }
  }

  .active{

    height: auto;
    opacity: 0.8;
  }
}
