.mst__header{
  font-family: Inter;
  padding: 28px 52px;
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 28px 0px;
    border-bottom: 1px solid $--secondary--color;
    .icons{

      .header_icon{
        height: 20px;
        width: 20px;
        padding: 0px 12px;
        cursor: pointer;
      }
    }
    .logo{
 
      h1{
        font-size: 42px;
        font-family: $--base-logo-font;
      }
      h1:hover{
        color: $--subtext;
      }
    }
   
  }
  .nav_items{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 0px;
    border-bottom: 1px solid $--secondary--color;
    a{
      color: $--main-text-color;
      text-decoration: none;
      padding: 0px 16px;
    }
    a:hover{
      color: $--subtext;
    }

  }
}






.list{
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem {
  cursor: pointer;
  margin-right: 24px;
  font-weight:  $--base-weight-md;
}


.avatar{
  width: $--avatar-width;
  height: $--avatar-hight;
  object-fit: cover;
  border-radius: 50%;
}

.link{
  color: $--title-color;
  text-decoration: none;
}